{
    "openapi": "3.0.0",
    "info": {
        "title": "API WAFFER",
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://nad-api.squaretech.tech/api"
        },
        {
            "url": "http://127.0.0.1:8000/api"
        }
    ],
    "paths": {
        "/admin/animal-breeds": {
            "get": {
                "tags": [
                    "Admin - Animal Breeds"
                ],
                "description": "Get all animal breeds",
                "operationId": "get_all_animal_breeds",
                "parameters": [
                    {
                        "name": "with_paginate",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "enum": [
                                0,
                                1
                            ]
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "category_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "animal_specie_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Admin - Animal Breeds"
                ],
                "description": "Add new animal breed.",
                "operationId": "4111f3489b13ceae79a698edd453a620",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "name[ar]",
                                    "category_id",
                                    "animal_specie_id"
                                ],
                                "properties": {
                                    "category_id": {
                                        "type": "integer"
                                    },
                                    "animal_specie_id": {
                                        "type": "integer"
                                    },
                                    "name[en]": {
                                        "type": "string"
                                    },
                                    "name[ar]": {
                                        "type": "string"
                                    },
                                    "image": {
                                        "type": "file"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/admin/animal-breeds/{id}": {
            "get": {
                "tags": [
                    "Admin - Animal Breeds"
                ],
                "description": "Get animal breed information.",
                "operationId": "show_animal_breed",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Admin - Animal Breeds"
                ],
                "description": "Edit animal breed.",
                "operationId": "05e02264be608d5bb6658101f695e797",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "category_id": {
                                        "type": "integer"
                                    },
                                    "animal_specie_id": {
                                        "type": "integer"
                                    },
                                    "name[en]": {
                                        "type": "string"
                                    },
                                    "name[ar]": {
                                        "type": "string"
                                    },
                                    "image": {
                                        "type": "file"
                                    },
                                    "_method": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "PUT"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Admin - Animal Breeds"
                ],
                "description": "Delete entered animal breed.",
                "operationId": "delete_animal_breed",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "int": {
                                "summary": "An int value.",
                                "value": "1"
                            }
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "successful operation"
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/admin/animals": {
            "get": {
                "tags": [
                    "Admin - Animals"
                ],
                "description": "Get all animals",
                "operationId": "get_all_animals",
                "parameters": [
                    {
                        "name": "with_paginate",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "enum": [
                                0,
                                1
                            ]
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "category_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "animal_specie_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "animal_breed_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "owner_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "branch_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "uaid",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "tag_number",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "pet_status",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "lost",
                                "found",
                                "dead"
                            ]
                        }
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Admin - Animals"
                ],
                "description": "Add new animal.",
                "operationId": "0de0d02348196c31ed257284dbe0cd96",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "name[ar]",
                                    "owner_type",
                                    "owner_id",
                                    "photos[0]",
                                    "category_id",
                                    "primary_color_id",
                                    "birth_date",
                                    "gender",
                                    "status"
                                ],
                                "properties": {
                                    "owner_type": {
                                        "type": "string",
                                        "enum": [
                                            "user",
                                            "entity"
                                        ]
                                    },
                                    "owner_id": {
                                        "type": "integer"
                                    },
                                    "branch_id": {
                                        "type": "integer"
                                    },
                                    "name[en]": {
                                        "type": "string"
                                    },
                                    "name[ar]": {
                                        "type": "string"
                                    },
                                    "description[en]": {
                                        "type": "string"
                                    },
                                    "description[ar]": {
                                        "type": "string"
                                    },
                                    "like[en]": {
                                        "type": "string"
                                    },
                                    "like[ar]": {
                                        "type": "string"
                                    },
                                    "deslike[en]": {
                                        "type": "string"
                                    },
                                    "deslike[ar]": {
                                        "type": "string"
                                    },
                                    "good_with[en]": {
                                        "type": "string"
                                    },
                                    "good_with[ar]": {
                                        "type": "string"
                                    },
                                    "bad_with[en]": {
                                        "type": "string"
                                    },
                                    "bad_with[ar]": {
                                        "type": "string"
                                    },
                                    "sensitivities[0]": {
                                        "type": "string"
                                    },
                                    "link": {
                                        "type": "string"
                                    },
                                    "status": {
                                        "type": "boolean",
                                        "enum": [
                                            0,
                                            1
                                        ]
                                    },
                                    "photos[0]": {
                                        "type": "file"
                                    },
                                    "category_id": {
                                        "type": "integer"
                                    },
                                    "animal_specie_id": {
                                        "type": "integer"
                                    },
                                    "animal_breed_id": {
                                        "type": "integer"
                                    },
                                    "pet_mark_ids[0]": {
                                        "type": "integer"
                                    },
                                    "primary_color_id": {
                                        "type": "integer"
                                    },
                                    "secondary_color_id": {
                                        "type": "integer"
                                    },
                                    "tertiary_color_id": {
                                        "type": "integer"
                                    },
                                    "age": {
                                        "type": "string",
                                        "enum": [
                                            "young",
                                            "adult",
                                            "senior"
                                        ]
                                    },
                                    "birth_date": {
                                        "type": "string",
                                        "format": "date"
                                    },
                                    "gender": {
                                        "type": "string",
                                        "enum": [
                                            "male",
                                            "female"
                                        ]
                                    },
                                    "weight": {
                                        "type": "number",
                                        "format": "float"
                                    },
                                    "size": {
                                        "type": "string",
                                        "enum": [
                                            "small",
                                            "medium",
                                            "large"
                                        ]
                                    },
                                    "digital_link": {
                                        "type": "string"
                                    },
                                    "generate_public": {
                                        "type": "boolean",
                                        "enum": [
                                            0,
                                            1
                                        ]
                                    },
                                    "ownership_date": {
                                        "type": "string",
                                        "format": "date"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/admin/animals/{id}": {
            "get": {
                "tags": [
                    "Admin - Animals"
                ],
                "description": "Get animal information.",
                "operationId": "show_animal",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Admin - Animals"
                ],
                "description": "Edit animal.",
                "operationId": "47b4cf587d33e77e2314876da504a183",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "owner_type": {
                                        "type": "string",
                                        "enum": [
                                            "user",
                                            "entity"
                                        ]
                                    },
                                    "owner_id": {
                                        "type": "integer"
                                    },
                                    "branch_id": {
                                        "type": "integer"
                                    },
                                    "name[en]": {
                                        "type": "string"
                                    },
                                    "name[ar]": {
                                        "type": "string"
                                    },
                                    "description[en]": {
                                        "type": "string"
                                    },
                                    "description[ar]": {
                                        "type": "string"
                                    },
                                    "like[en]": {
                                        "type": "string"
                                    },
                                    "like[ar]": {
                                        "type": "string"
                                    },
                                    "deslike[en]": {
                                        "type": "string"
                                    },
                                    "deslike[ar]": {
                                        "type": "string"
                                    },
                                    "good_with[en]": {
                                        "type": "string"
                                    },
                                    "good_with[ar]": {
                                        "type": "string"
                                    },
                                    "bad_with[en]": {
                                        "type": "string"
                                    },
                                    "bad_with[ar]": {
                                        "type": "string"
                                    },
                                    "deleted_sensitivity_ids[0]": {
                                        "type": "integer"
                                    },
                                    "sensitivities[0]": {
                                        "type": "string"
                                    },
                                    "link": {
                                        "type": "string"
                                    },
                                    "status": {
                                        "type": "boolean",
                                        "enum": [
                                            0,
                                            1
                                        ]
                                    },
                                    "photos[0]": {
                                        "type": "file"
                                    },
                                    "deleted_media_ids[0]": {
                                        "type": "integer"
                                    },
                                    "category_id": {
                                        "type": "integer"
                                    },
                                    "animal_specie_id": {
                                        "type": "integer"
                                    },
                                    "animal_breed_id": {
                                        "type": "integer"
                                    },
                                    "pet_mark_ids[0]": {
                                        "type": "integer"
                                    },
                                    "deleted_pet_mark_ids[0]": {
                                        "type": "integer"
                                    },
                                    "primary_color_id": {
                                        "type": "integer"
                                    },
                                    "secondary_color_id": {
                                        "type": "integer"
                                    },
                                    "tertiary_color_id": {
                                        "type": "integer"
                                    },
                                    "age": {
                                        "type": "string",
                                        "enum": [
                                            "young",
                                            "adult",
                                            "senior"
                                        ]
                                    },
                                    "birth_date": {
                                        "type": "string",
                                        "format": "date"
                                    },
                                    "gender": {
                                        "type": "string",
                                        "enum": [
                                            "male",
                                            "female"
                                        ]
                                    },
                                    "weight": {
                                        "type": "number",
                                        "format": "float"
                                    },
                                    "size": {
                                        "type": "string",
                                        "enum": [
                                            "small",
                                            "medium",
                                            "large"
                                        ]
                                    },
                                    "_method": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "PUT"
                                    },
                                    "digital_link": {
                                        "type": "string"
                                    },
                                    "generate_public": {
                                        "type": "boolean",
                                        "enum": [
                                            0,
                                            1
                                        ]
                                    },
                                    "ownership_date": {
                                        "type": "string",
                                        "format": "date"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Admin - Animals"
                ],
                "description": "Delete entered animal.",
                "operationId": "delete_animal",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "int": {
                                "summary": "An int value.",
                                "value": "1"
                            }
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "successful operation"
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/admin/animals/{id}/ownership-records": {
            "get": {
                "tags": [
                    "Admin - Animals"
                ],
                "description": "Get all ownership records for animal",
                "operationId": "get_all_ownership_records",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "with_paginate",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "enum": [
                                0,
                                1
                            ]
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "owner_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/admin/animal-species": {
            "get": {
                "tags": [
                    "Admin - Animal Species"
                ],
                "description": "Get all animal species",
                "operationId": "get_all_animal_species",
                "parameters": [
                    {
                        "name": "with_paginate",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "enum": [
                                0,
                                1
                            ]
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "category_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Admin - Animal Species"
                ],
                "description": "Add new animal specie.",
                "operationId": "308fe8b8f1468ca36b49cff1469b5cc5",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "name[ar]",
                                    "category_id"
                                ],
                                "properties": {
                                    "category_id": {
                                        "type": "integer"
                                    },
                                    "name[en]": {
                                        "type": "string"
                                    },
                                    "name[ar]": {
                                        "type": "string"
                                    },
                                    "image": {
                                        "type": "file"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/admin/animal-species/{id}": {
            "get": {
                "tags": [
                    "Admin - Animal Species"
                ],
                "description": "Get animal specie information.",
                "operationId": "show_animal_specie",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Admin - Animal Species"
                ],
                "description": "Edit animal specie.",
                "operationId": "bd5b1fb23c84acf5fe9c51aa2a30a7ef",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "category_id": {
                                        "type": "integer"
                                    },
                                    "name[en]": {
                                        "type": "string"
                                    },
                                    "name[ar]": {
                                        "type": "string"
                                    },
                                    "image": {
                                        "type": "file"
                                    },
                                    "_method": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "PUT"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Admin - Animal Species"
                ],
                "description": "Delete entered animal specie.",
                "operationId": "delete_animal_specie",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "int": {
                                "summary": "An int value.",
                                "value": "1"
                            }
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "successful operation"
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/admin/animal-statuses": {
            "get": {
                "tags": [
                    "Admin - Animal Statuses"
                ],
                "description": "Get all animal statuses",
                "operationId": "get_all_animal_statuses",
                "parameters": [
                    {
                        "name": "with_paginate",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "enum": [
                                0,
                                1
                            ]
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "animal_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Admin - Animal Statuses"
                ],
                "description": "Add new animal status.",
                "operationId": "73aa8083fa5b1dbc8defe65d2478b65d",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "description[ar]"
                                ],
                                "properties": {
                                    "animal_id": {
                                        "type": "integer"
                                    },
                                    "status": {
                                        "type": "string",
                                        "enum": [
                                            "lost",
                                            "found",
                                            "adopt",
                                            "dead",
                                            "transfer"
                                        ]
                                    },
                                    "description[en]": {
                                        "type": "string"
                                    },
                                    "description[ar]": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/admin/animal-statuses/{id}": {
            "get": {
                "tags": [
                    "Admin - Animal Statuses"
                ],
                "description": "Get animal status information.",
                "operationId": "show_animal_status",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Admin - Animal Statuses"
                ],
                "description": "Edit animal status.",
                "operationId": "edit_animal_status",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "animal_id": {
                                        "type": "integer"
                                    },
                                    "status": {
                                        "type": "string",
                                        "enum": [
                                            "lost",
                                            "found",
                                            "adopt",
                                            "dead",
                                            "transfer"
                                        ]
                                    },
                                    "description[en]": {
                                        "type": "string"
                                    },
                                    "description[ar]": {
                                        "type": "string"
                                    },
                                    "_method": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "PUT"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Admin - Animal Statuses"
                ],
                "description": "Delete entered animal status.",
                "operationId": "delete_animal_status",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "int": {
                                "summary": "An int value.",
                                "value": "1"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/admin/branches": {
            "get": {
                "tags": [
                    "Admin - Branches"
                ],
                "description": "Get all branches",
                "operationId": "get_all_branches",
                "parameters": [
                    {
                        "name": "with_paginate",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "enum": [
                                0,
                                1
                            ]
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "entity_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Admin - Branches"
                ],
                "description": "Add new branch.",
                "operationId": "4cf95003d6e7f6406e4b351bdd3a856c",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "address",
                                    "entity_id"
                                ],
                                "properties": {
                                    "entity_id": {
                                        "type": "integer"
                                    },
                                    "address": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/admin/branches/{id}": {
            "get": {
                "tags": [
                    "Admin - Branches"
                ],
                "description": "Get branch information.",
                "operationId": "show_branch",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Admin - Branches"
                ],
                "description": "Edit branch.",
                "operationId": "9f61cea5d9e3a68c08b1e34d1f7e809c",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "address": {
                                        "type": "string"
                                    },
                                    "_method": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "PUT"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Admin - Branches"
                ],
                "description": "Delete entered Branch.",
                "operationId": "delete_branch",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "int": {
                                "summary": "An int value.",
                                "value": "1"
                            }
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "successful operation"
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/admin/branch-types": {
            "get": {
                "tags": [
                    "Admin - Branch Types"
                ],
                "description": "Get all branch types",
                "operationId": "get_all_branch_types",
                "parameters": [
                    {
                        "name": "with_paginate",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "enum": [
                                0,
                                1
                            ]
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Admin - Branch Types"
                ],
                "description": "Add new branch type.",
                "operationId": "01dc8273bcf00dc131a0d32af82ebf74",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "name[ar]"
                                ],
                                "properties": {
                                    "name[en]": {
                                        "type": "string"
                                    },
                                    "name[ar]": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/admin/branch-types/{id}": {
            "get": {
                "tags": [
                    "Admin - Branch Types"
                ],
                "description": "Get branch type information.",
                "operationId": "show_branch_type",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Admin - Branch Types"
                ],
                "description": "Edit branch type.",
                "operationId": "481c89237829879350ae268b868b8abc",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "name[en]": {
                                        "type": "string"
                                    },
                                    "name[ar]": {
                                        "type": "string"
                                    },
                                    "_method": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "PUT"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Admin - Branch Types"
                ],
                "description": "Delete entered branch type.",
                "operationId": "delete_branch_type",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "int": {
                                "summary": "An int value.",
                                "value": "1"
                            }
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "successful operation"
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/admin/categories": {
            "get": {
                "tags": [
                    "Admin - Categories"
                ],
                "description": "Get all categories",
                "operationId": "get_all_categories",
                "parameters": [
                    {
                        "name": "with_paginate",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "enum": [
                                0,
                                1
                            ]
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Admin - Categories"
                ],
                "description": "Add new category.",
                "operationId": "a533ff285fab1552a0e830b3d4e76d82",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "name[ar]",
                                    "description[ar]",
                                    "image"
                                ],
                                "properties": {
                                    "name[en]": {
                                        "type": "string"
                                    },
                                    "name[ar]": {
                                        "type": "string"
                                    },
                                    "description[en]": {
                                        "type": "string"
                                    },
                                    "description[ar]": {
                                        "type": "string"
                                    },
                                    "image": {
                                        "type": "file"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/admin/categories/{id}": {
            "get": {
                "tags": [
                    "Admin - Categories"
                ],
                "description": "Get category information.",
                "operationId": "show_category",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Admin - Categories"
                ],
                "description": "Edit category.",
                "operationId": "9e23a7f4760a9b72457b181d53a07ec5",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "name[en]": {
                                        "type": "string"
                                    },
                                    "name[ar]": {
                                        "type": "string"
                                    },
                                    "description[en]": {
                                        "type": "string"
                                    },
                                    "description[ar]": {
                                        "type": "string"
                                    },
                                    "image": {
                                        "type": "file"
                                    },
                                    "_method": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "PUT"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Admin - Categories"
                ],
                "description": "Delete entered category.",
                "operationId": "delete_category",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "int": {
                                "summary": "An int value.",
                                "value": "1"
                            }
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "successful operation"
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/admin/colors": {
            "get": {
                "tags": [
                    "Admin - Colors"
                ],
                "description": "Get all colors",
                "operationId": "get_all_colors",
                "parameters": [
                    {
                        "name": "with_paginate",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "enum": [
                                0,
                                1
                            ]
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Admin - Colors"
                ],
                "description": "Add new color.",
                "operationId": "28562ea979806d68359e60d5d027375e",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "name[ar]"
                                ],
                                "properties": {
                                    "name[en]": {
                                        "type": "string"
                                    },
                                    "name[ar]": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/admin/colors/{id}": {
            "get": {
                "tags": [
                    "Admin - Colors"
                ],
                "description": "Get color information.",
                "operationId": "show_color",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Admin - Colors"
                ],
                "description": "Edit color.",
                "operationId": "cbb18f45fadc4a8931033d46deaf5567",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "name[en]": {
                                        "type": "string"
                                    },
                                    "name[ar]": {
                                        "type": "string"
                                    },
                                    "_method": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "PUT"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Admin - Colors"
                ],
                "description": "Delete entered color.",
                "operationId": "delete_color",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "int": {
                                "summary": "An int value.",
                                "value": "1"
                            }
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "successful operation"
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/admin/entities": {
            "get": {
                "tags": [
                    "Admin - Entities"
                ],
                "description": "Get all entities",
                "operationId": "get_all_entities",
                "parameters": [
                    {
                        "name": "with_paginate",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "enum": [
                                0,
                                1
                            ]
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "branch_type_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Admin - Entities"
                ],
                "description": "Add new entity.",
                "operationId": "8047119a449ee6d7c23144e28c5a4e94",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "name[ar]",
                                    "address",
                                    "email",
                                    "contact_number",
                                    "founding_date",
                                    "price_per_pet",
                                    "allowed_branches",
                                    "allowed_users",
                                    "branch_type_id"
                                ],
                                "properties": {
                                    "name[en]": {
                                        "type": "string"
                                    },
                                    "name[ar]": {
                                        "type": "string"
                                    },
                                    "address": {
                                        "type": "string"
                                    },
                                    "email": {
                                        "type": "string"
                                    },
                                    "contact_number": {
                                        "type": "string"
                                    },
                                    "founding_date": {
                                        "type": "string",
                                        "format": "date"
                                    },
                                    "national_id": {
                                        "type": "string"
                                    },
                                    "price_per_pet": {
                                        "type": "number",
                                        "format": "float"
                                    },
                                    "allowed_branches": {
                                        "type": "integer"
                                    },
                                    "allowed_users": {
                                        "type": "integer"
                                    },
                                    "image": {
                                        "type": "file"
                                    },
                                    "branch_type_id": {
                                        "type": "integer"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/admin/entities/{id}": {
            "get": {
                "tags": [
                    "Admin - Entities"
                ],
                "description": "Get entity information.",
                "operationId": "show_entity",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Admin - Entities"
                ],
                "description": "Edit entity.",
                "operationId": "587f12e6aeb6b3001ef72dda945a2257",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "name[en]": {
                                        "type": "string"
                                    },
                                    "name[ar]": {
                                        "type": "string"
                                    },
                                    "address": {
                                        "type": "string"
                                    },
                                    "email": {
                                        "type": "string"
                                    },
                                    "contact_number": {
                                        "type": "string"
                                    },
                                    "founding_date": {
                                        "type": "string"
                                    },
                                    "price_per_pet": {
                                        "type": "string"
                                    },
                                    "allowed_branches": {
                                        "type": "string"
                                    },
                                    "allowed_users": {
                                        "type": "string"
                                    },
                                    "image": {
                                        "type": "file"
                                    },
                                    "branch_type_id": {
                                        "type": "integer"
                                    },
                                    "_method": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "PUT"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Admin - Entities"
                ],
                "description": "Delete entered Entity.",
                "operationId": "delete_entity",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "int": {
                                "summary": "An int value.",
                                "value": "1"
                            }
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "successful operation"
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/admin/logo": {
            "get": {
                "tags": [
                    "Admin - Logo"
                ],
                "description": "Get logo.",
                "operationId": "show_logo",
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Admin - Logo"
                ],
                "description": "Edit logo.",
                "operationId": "e2d856481fb1e7fd228bc43196ba2f02",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "mobile_light_logo",
                                    "mobile_dark_logo",
                                    "light_logo",
                                    "dark_logo"
                                ],
                                "properties": {
                                    "mobile_light_logo": {
                                        "type": "file"
                                    },
                                    "mobile_dark_logo": {
                                        "type": "file"
                                    },
                                    "light_logo": {
                                        "type": "file"
                                    },
                                    "dark_logo": {
                                        "type": "file"
                                    },
                                    "_method": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "PUT"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/admin/permissions": {
            "get": {
                "tags": [
                    "Permissions"
                ],
                "description": "get all permissions",
                "operationId": "4c0aee37d4eecedce47288592cdd8eb8",
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden. This action is unauthorized."
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/admin/permissions/me": {
            "get": {
                "tags": [
                    "Permissions"
                ],
                "description": "Get my permissions",
                "operationId": "43edc8396c8449d05255fb7301e77d9e",
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden. This action is unauthorized."
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/admin/roles/{role}/permissions": {
            "get": {
                "tags": [
                    "Permissions"
                ],
                "summary": "Get permissions for a role",
                "operationId": "9ff29d09d1829574956b9ac88a877549",
                "parameters": [
                    {
                        "name": "role",
                        "in": "path",
                        "description": "The ID of the role",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden. This action is unauthorized."
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Permissions"
                ],
                "summary": "Set permissions for a role",
                "operationId": "9d9f1735dffe7bc4a1aed0879cec6920",
                "parameters": [
                    {
                        "name": "role",
                        "in": "path",
                        "description": "The ID of the role",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "permissions[0]": {
                                        "description": "The names of the permissions",
                                        "type": "string",
                                        "default": ""
                                    },
                                    "permissions[1]": {
                                        "description": "The names of the permissions",
                                        "type": "string",
                                        "default": ""
                                    },
                                    "permissions[2]": {
                                        "description": "The names of the permissions",
                                        "type": "string",
                                        "default": ""
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden. This action is unauthorized."
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/admin/pet-marks": {
            "get": {
                "tags": [
                    "Admin - Pet Marks"
                ],
                "description": "Get all pet marks",
                "operationId": "get_all_pet_marks",
                "parameters": [
                    {
                        "name": "with_paginate",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "enum": [
                                0,
                                1
                            ]
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Admin - Pet Marks"
                ],
                "description": "Add new pet mark.",
                "operationId": "f1b4ae71e87d3aa6655c547d888b2c67",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "name[ar]"
                                ],
                                "properties": {
                                    "name[en]": {
                                        "type": "string"
                                    },
                                    "name[ar]": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/admin/pet-marks/{id}": {
            "get": {
                "tags": [
                    "Admin - Pet Marks"
                ],
                "description": "Get pet mark information.",
                "operationId": "show_pet_mark",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Admin - Pet Marks"
                ],
                "description": "Edit pet mark.",
                "operationId": "9d55c392130f4dc99c04fc22d1423cc1",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
[...]
